In [ ]:
import numpy as np
import pandas as pd

#### Question 1: Read in the surveys.csv dataset and call it surveys_df.

In [3]:
import pandas as pd
surveys_df = pd.read_csv('surveys.csv')
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

#### Question 2: How many rows and columns are in the dataset?

In [17]:
rows, columns=surveys_df.shape

print("Number of rows = ", rows)
print("Number of columns = ", columns)

Number of rows =  35549
Number of columns =  9

#### Question 3: Use the head() function to displays the first 10 lines in the dataset.

In [4]:
surveys_df.head(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN

#### Question 4: Use the info() function to display the datatypes. How many of the variables are categorical and how many are quantitative?

In [6]:
surveys_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        35549 non-null  int64
 1   month            35549 non-null  int64
 2   day              35549 non-null  int64
 3   year             35549 non-null  int64
 4   plot_id          35549 non-null  int64
 5   species_id       34786 non-null  object
 6   sex              33038 non-null  object
 7   hindfoot_length  31438 non-null  float64
 8   weight           32283 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 2.4+ MB

 There are 7 quantitative variables i.e. record_id, month, day, year, plot_id, hindfoot_length, and weight whereas the remaining 2 variables are categorical i.e. species_id.

#### Question 5: Print out the column names.

In [8]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

#### Question 6: Use the unique() function to obtain the list of all the species.

In [20]:
pd.unique(surveys_df['species_id'])
surveys_df.species_id.value_counts()

DM    10596
PP     3123
DO     3027
PB     2891
RM     2609
DS     2504
OT     2249
PF     1597
PE     1299
NL     1252
OL     1006
PM      899
AH      437
AB      303
SS      248
SH      147
SA       75
RF       75
CB       50
BA       46
SO       43
SF       43
DX       40
PC       39
PL       36
PH       32
CQ       16
CM       13
OX       12
UR       10
PI        9
UP        8
PG        8
RO        8
PX        6
SU        5
PU        5
US        4
UL        4
AS        2
RX        2
ZL        2
ST        1
CU        1
SC        1
CS        1
CT        1
CV        1
Name: species_id, dtype: int64

#### Question 7: Obtain the descriptive statistics of all the numerical variables in the dataframe.

In [13]:
surveys_df.describe()

,record_id,month,day,year,plot_id,hindfoot_length,weight
count,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000,31438.000000,32283.000000
mean,17775.000000,6.474022,16.105966,1990.475231,11.397001,29.287932,42.672428
std,10262.256696,3.396583,8.256691,7.493355,6.799406,9.564759,36.631259
min,1.000000,1.000000,1.000000,1977.000000,1.000000,2.000000,4.000000
25%,8888.000000,4.000000,9.000000,1984.000000,5.000000,21.000000,20.000000
50%,17775.000000,6.000000,16.000000,1990.000000,11.000000,32.000000,37.000000
75%,26662.000000,9.000000,23.000000,1997.000000,17.000000,36.000000,48.000000
max,35549.000000,12.000000,31.000000,2002.000000,24.000000,70.000000,280.000000

* The mean, max, and min of the hindfoot_length are: 29.287932, 70.000000	, 2.000000 respectively.
* The mean, max, and min of the hindfoot_length are: 42.672428, 280.000000	, 4.000000 respectively.

#### Question 8: Using the groupby() function, group the dataset by sex and compute the descriptive statistics.

In [14]:
surveys_df.groupby("sex").describe()

    record_id                                                               \
        count          mean           std  min      25%      50%       75%
sex
F     15690.0  18036.412046  10423.089000  3.0  8917.50  18075.5  27250.00
M     17348.0  17754.835601  10132.203323  1.0  8969.75  17727.5  26454.25

                month            ... hindfoot_length         weight  \
         max    count      mean  ...             75%   max    count
sex                              ...
F    35547.0  15690.0  6.583047  ...            36.0  64.0  15303.0
M    35548.0  17348.0  6.392668  ...            36.0  58.0  16879.0


          mean        std  min   25%   50%   75%    max
sex
F    42.170555  36.847958  4.0  20.0  34.0  46.0  274.0
M    42.995379  36.184981  4.0  20.0  39.0  49.0  280.0

[2 rows x 56 columns]

#### Question 9: Using the groupby() function, group the dataset by species_id and compute the descriptive statistics.

In [15]:
surveys_df.groupby("species_id").describe()

           record_id                                                          \
               count          mean           std      min       25%      50%
species_id
AB             303.0  13201.702970   5835.874869   3126.0   7604.00  13829.0
AH             437.0  21631.716247   7194.381201   1446.0  15507.00  21600.0
AS               2.0  19760.000000   1170.968830  18932.0  19346.00  19760.0
BA              46.0  18586.043478    921.349203  16598.0  17972.50  18803.0
CB              50.0  18300.460000   7271.702586   3189.0  13227.00  19590.5
CM              13.0   4055.000000   2789.266660   3190.0   3263.00   3291.0
CQ              16.0   5718.062500   1899.301607   3200.0   3720.75   6199.0
CS               1.0  15878.000000           NaN  15878.0  15878.00  15878.0
CT               1.0  28988.000000           NaN  28988.0  28988.00  28988.0
CU               1.0  21209.000000           NaN  21209.0  21209.00  21209.0
CV               1.0  13313.000000           NaN  13313.0  13313.00  13313.0
DM           10596.0  15776.228011   9758.042325      3.0   7466.75  15092.5
DO            3027.0  17970.353485   9529.235809     68.0  10263.50  17078.0
DS            2504.0   6096.122204   5002.986094     11.0   2309.25   4727.5
DX              40.0  22236.350000   6588.027227   2706.0  19710.50  20573.5
NL            1252.0  13902.781949   9459.788377      1.0   6433.00  12609.0
OL            1006.0  11097.006958   6911.769060    274.0   5414.50  10230.5
OT            2249.0  19908.781236  10566.087720     36.0  10438.00  21535.0
OX              12.0   4548.666667   7204.725739     70.0    174.25    287.5
PB            2891.0  31423.223452   2822.580268  22711.0  29478.00  31659.0
PC              39.0  17035.974359   4799.825751   6567.0  14617.00  18500.0
PE            1299.0  15920.995381   8076.090716      7.0  11336.50  15107.0
PF            1597.0  17347.086412   9151.113902      6.0   7210.00  21566.0
PG               8.0  16909.000000   6389.064385   7352.0  14992.75  17017.0
PH              32.0  16061.343750   4843.685258   9476.0  10943.00  17213.5
PI               9.0  31139.444444   5558.186915  20408.0  32708.00  33769.0
PL              36.0  26021.750000   1856.592507  22817.0  24864.75  26629.0
PM             899.0  19354.033370   8470.264362    883.0  12496.50  23878.0
PP            3123.0  25281.530900   7599.657786     18.0  21748.50  26181.0
PU               5.0  16813.000000   6548.811304   9643.0   9650.00  21342.0
PX               6.0  26337.333333   2903.952663  23435.0  24749.50  25064.0
RF              75.0  15888.293333   2076.856856   5764.0  15480.00  15929.0
RM            2609.0  16410.623994   6241.789011    311.0  13027.00  16752.0
RO               8.0  32526.875000   5589.994823  18871.0  33516.25  34041.0
RX               2.0  23703.500000   2006.061938  22285.0  22994.25  23703.5
SA              75.0   9089.466667   5389.253424    779.0   5743.00   8314.0
SC               1.0  16002.000000           NaN  16002.0  16002.00  16002.0
SF              43.0  20809.116279   6630.187048  16659.0  16994.00  17514.0
SH             147.0  19330.231293   7796.076966     24.0  15046.50  16088.0
SO              43.0  20457.627907   1616.424096  19125.0  19552.50  19972.0
SS             248.0  16291.798387   9037.762489     77.0   9436.75  14832.0
ST               1.0  20723.000000           NaN  20723.0  20723.00  20723.0
SU               5.0  22160.400000    197.865611  21807.0  22233.00  22247.0
UL               4.0  19403.250000   3381.668954  14466.0  18580.50  20773.0
UP               8.0  14816.750000   1327.000565  13688.0  14013.25  14226.5
UR              10.0  21367.000000   8568.125738  13564.0  13719.75  19103.5
US               4.0  35524.250000     15.063753  35512.0  35512.75  35520.5
ZL               2.0  14300.500000     71.417785  14250.0  14275.25  14300.5

                                 month             ... hindfoot_length        \
                 75%      max    count       mean  ...             75%   max
species_id                                         ...
AB          16981.50  33713.0    303.0   4.993399  ...             NaN   NaN
AH          27462.00  35546.0    437.0   6.565217  ...           34.00  35.0
AS          20174.00  20588.0      2.0   4.500000  ...             NaN   NaN
BA          19270.50  19775.0     46.0   7.021739  ...           14.00  16.0
CB          21784.75  33109.0     50.0   8.060000  ...             NaN   NaN
CM           3319.00  13337.0     13.0   8.846154  ...             NaN   NaN
CQ           6371.50   9364.0     16.0   6.375000  ...             NaN   NaN
CS          15878.00  15878.0      1.0   4.000000  ...             NaN   NaN
CT          28988.00  28988.0      1.0  12.000000  ...             NaN   NaN
CU          21209.00  21209.0      1.0  11.000000  ...             NaN   NaN
CV          13313.00  13313.0      1.0   8.000000  ...             NaN   NaN
DM          23496.50  35537.0  10596.0   6.338901  ...           37.00  50.0
DO          25895.50  35548.0   3027.0   6.106376  ...           37.00  64.0
DS           8426.75  29706.0   2504.0   6.371805  ...           51.00  58.0
DX          28628.50  35511.0     40.0   6.550000  ...             NaN   NaN
NL          18465.00  35479.0   1252.0   6.951278  ...           33.00  70.0
OL          15701.00  35525.0   1006.0   6.456262  ...           21.00  39.0
OT          28946.00  35530.0   2249.0   7.223655  ...           21.00  50.0
OX           7259.00  20654.0     12.0   7.250000  ...           21.00  21.0
PB          33831.50  35543.0   2891.0   7.289865  ...           27.00  47.0
PC          19696.00  28728.0     39.0   4.743590  ...             NaN   NaN
PE          19226.50  35490.0   1299.0   6.384911  ...           21.00  30.0
PF          24055.00  35506.0   1597.0   6.569818  ...           16.00  38.0
PG          17025.50  30463.0      8.0   2.875000  ...             NaN   NaN
PH          19867.50  25811.0     32.0   6.750000  ...           27.00  28.0
PI          34441.00  34674.0      9.0   7.555556  ...           23.00  23.0
PL          27387.75  30499.0     36.0   6.111111  ...           21.00  22.0
PM          26964.50  33436.0    899.0   6.337041  ...           21.00  36.0
PP          31048.50  35514.0   3123.0   6.886327  ...           22.00  41.0
PU          21355.00  22075.0      5.0   5.200000  ...             NaN   NaN
PX          27888.75  30986.0      6.0   5.666667  ...           19.75  20.0
RF          16639.50  25594.0     75.0   5.293333  ...           18.00  20.0
RM          19820.00  35547.0   2609.0   5.532388  ...           17.00  22.0
RO          35406.50  35487.0      8.0   7.000000  ...           16.25  17.0
RX          24412.75  25122.0      2.0   3.000000  ...           19.25  20.0
SA           9299.00  27629.0     75.0   5.786667  ...             NaN   NaN
SC          16002.00  16002.0      1.0   5.000000  ...             NaN   NaN
SF          20321.50  35539.0     43.0   6.139535  ...           28.00  38.0
SH          26543.50  34990.0    147.0   5.959184  ...           30.00  39.0
SO          20843.00  25820.0     43.0   6.697674  ...           27.00  36.0
SS          23965.75  35138.0    248.0   6.552419  ...             NaN   NaN
ST          20723.00  20723.0      1.0   3.000000  ...             NaN   NaN
SU          22251.00  22264.0      5.0   5.200000  ...             NaN   NaN
UL          21595.75  21601.0      4.0   5.000000  ...             NaN   NaN
UP          15375.00  17654.0      8.0   5.000000  ...             NaN   NaN
UR          29559.25  34575.0     10.0   6.200000  ...             NaN   NaN
US          35532.00  35544.0      4.0  12.000000  ...             NaN   NaN
ZL          14325.75  14351.0      2.0   3.500000  ...             NaN   NaN

             weight
              count        mean        std   min     25%    50%     75%    max
species_id
AB              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
AH              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
AS              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
BA             45.0    8.600000   2.082394   6.0    7.00    8.0    9.00   18.0
CB              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CM              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CQ              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CS              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CT              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CU              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
CV              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
DM          10262.0   43.157864   6.827031  10.0   40.00   44.0   48.00   66.0
DO           2904.0   48.870523   7.919795  12.0   45.00   50.0   54.00   76.0
DS           2344.0  120.130546  22.902175  12.0  108.00  124.0  135.00  190.0
DX              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
NL           1152.0  159.245660  43.970347  30.0  131.00  164.0  189.00  280.0
OL            970.0   31.575258   6.857461  10.0   27.00   32.0   36.00   56.0
OT           2160.0   24.230556   4.487602   5.0   22.00   24.0   27.00   46.0
OX              6.0   21.000000   2.097618  18.0   20.00   21.0   22.00   24.0
PB           2810.0   31.735943   6.941193  12.0   27.00   31.0   36.00   55.0
PC              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
PE           1260.0   21.586508   4.161128   8.0   19.00   22.0   24.00   40.0
PF           1548.0    7.923127   1.638233   4.0    7.00    8.0    9.00   25.0
PG              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
PH             31.0   31.064516   6.087887  18.0   29.00   32.0   34.00   48.0
PI              8.0   19.250000   1.488048  17.0   18.00   19.5   20.25   21.0
PL             36.0   19.138889   4.141447   8.0   16.75   20.0   22.00   27.0
PM            876.0   21.364155   4.837335   7.0   19.00   22.0   24.00   49.0
PP           3024.0   17.173942   3.667657   4.0   15.00   17.0   19.00   74.0
PU              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
PX              2.0   19.000000   1.414214  18.0   18.50   19.0   19.50   20.0
RF             75.0   13.386667   2.211110   9.0   12.00   13.0   15.00   20.0
RM           2535.0   10.585010   2.213847   4.0    9.00   10.0   12.00   29.0
RO              8.0   10.250000   1.832251   8.0    8.75   10.5   11.25   13.0
RX              2.0   15.500000   6.363961  11.0   13.25   15.5   17.75   20.0
SA              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
SC              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
SF             41.0   58.878049  27.794060  24.0   46.00   50.0   64.00  199.0
SH            141.0   73.148936  24.721574  16.0   57.00   72.0   89.00  140.0
SO             41.0   55.414634  21.970407  15.0   39.00   49.0   76.00  105.0
SS              2.0   93.500000  51.618795  57.0   75.25   93.5  111.75  130.0
ST              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
SU              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
UL              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
UP              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
UR              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
US              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN
ZL              0.0         NaN        NaN   NaN     NaN    NaN     NaN    NaN

[48 rows x 56 columns]